/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.btn-icon {
  cursor: pointer;
  color: #777;
}

.btn-icon > span {
  transition: .3s all;
  border-radius: 6px;
  padding: 4px 8px;
  background-color: transparent;
}

.modal .close {
  border: none;
  background: transparent;
}

.btn-icon > span.btn-edit:hover {
  background-color: #ddf;
}
.btn-icon > span.btn-edit:hover i {
  color: #1d4ed8;
}
.btn-icon > span.btn-delete:hover {
  background-color: #fdd;
}
.btn-icon > span.btn-delete:hover i {
  color: #991b1b;
}

label {
  margin-bottom: 4px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #aaa !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #aaa !important;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #aaa !important;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #aaa !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #aaa !important;
}

::placeholder { /* Most modern browsers support this now. */
 color:    #aaa !important;
}